*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    font-family: sans-serif;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    
}

.logo h1{
    background-color: #141414;
    background-image: #141414 100%;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    align-items: center;
    cursor: pointer;
    font-size: 2.5rem;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none; 
   
}

nav ul li {  
    display: inline-block;
    margin-right: 20px;
    
}

a{
    text-decoration: none;
    color: #141414;
    font-family:'Times New Roman', serif;
}

p{
    color:#141414;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
   

}

.second__col{
    flex-basis: 50%;
    min-width: 300px;
}

.second__col img{
    max-width: 100%;
    padding:50px 0;
}

.second__col h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    position: relative;
}

.btn{
    display: inline-block;
    background: rgb(253, 103, 72);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background:#141414;
}

.header{
    background:#fff;
}

.header .row{
    margin-top: 70px;
}
 
.categories{
    margin: 70px 0;
}

.col3{
    flex-basis: 30%;
    min-width: 200px;
    margin-top: 30px;
}

.col3 img{
    width: 100%;
}

.small__container{
    max-width: 1080px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.col4{
    flex-basis: 25%;
    padding: 10%;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform .5s;
}

.products {
    
    display: grid;
    grid-column: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 4fr);

}
.products .col4 {
    flex-basis: 25%;
    
}
.products .col4 img {
    width: 100%;
    /* filter: drop-shadow(30px 10px 4px #ddd); */
}
  
.col4 button{
    background-color: #fff;
    color: #141414;
    margin-left: 50px;
    width: 50%;
    height: 25px;

}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px; 
    border-radius: 5px; 
    position: absolute; 
    bottom: 0; 
    left:  50%;
    transform: translateX(-50%)
}

h4{
    color: #555;
    font-weight: normal;

}

.col4 p{
    font-size: 14px;
}

.rating .fa{
    color: #ff523b;
}

.col4:hover{
    transform: translateY(-5px);
}



/* offer section*/

.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 30px 0;
}

.second__col .offer__img{
    padding: 50px;
}

small{
    color: #555;
}

.col-o{
    flex-basis: 30%;
    min-width: 250px;
    margin-top: 30px;

}

.col-o img{
    width: 50%;
}


/* testmonials */
.testmonials {
    padding-top: 30px;
}

.testmonials .col-o{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testmonials .col-o img{
    width: 40px;
    margin-top: 20px;
    border-radius: 60%;
}

.testmonials .col-o:hover{
    transform: translateY(-10px);
}

.fa.fa-quote-left{
    font-size: 34px;
    color:rgb(253, 103, 72);
}

.col-o p {
    font-size: 12px;
    margin: 12px 0;
    color: #555;
}

.testmonials .col-o h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/* brands */
.brands{
    margin: 50px auto;
}


.col5{
    flex-basis: 10%;
    width: 160px;
}

.col5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);

}

.col5 img:hover{
    filter: grayscale(0);
}


/*footer*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 30px;
}


.footer__col1, .footer__col2, .footer__co3, .footer__col4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer__col1{
    flex-basis: 30%;
}

.footer__col2{
    flex: 1;
    text-align: center;
}

.logo1 h1{
    background-color: #fff;
    background-image: #fff 100%;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    cursor: pointer;
    font-size: 2.5rem;
}

.footer__col3{
    flex-basis: 10%;
    text-align: center; 
}
.footer__col3 li , .footer__col4 li{
    margin: 10px;
}
.footer__col4{
    margin-top: 30px;;
    flex-basis: 12%;
    text-align: center; 
}

ul {
    list-style-type: none;
}

.app__logo{
    margin-top: 20px;
}

.app__logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}


/* Media query */
@media only screen and (max-width: 800px){
    nav ul {
        position:absolute;
        top: 10%;
        left: 0;
        background: #fff;
        display: grid;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #141414;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/* media query for screen less than 600 px */
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .second__col, .col3,.col4{
        flex-basis: 100%;
    }
}

.cart .cart-header{
    display: flex;
    margin: 20px;
    margin-left: 70px;
}

.cart .cart-header .column2, .column3{
    margin-left: 500px;

}


.shopping__cart{
    background: gray;
    margin: 50px auto;
    display: flex;

}
 .full__cart{
    display: flex;
    width: 100px;
    margin-left: 50px;
}


img{
    width: 300%;
    cursor: pointer;
    margin-top: 20px;
}

.full__cart .price {
    margin-top: 100px;
    margin-left: 500px;

}
.shopping__cart .units{
    align-items: center;
    display: flex;
    margin: 70px;
    margin-left: 500px;
}

.shopping__cart .units {
    margin-left: 500px;

}

.total-items-in-cart{
    margin-left: 10px;
}
   
